#!/usr/bin/make -f
#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# -*- makefile -*-
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
# This has to be exported to make some magic below work.
export DH_OPTIONS
hive_pkg_name=hive2
crh_dir=/usr/${CRH_TAG}/${CRH_VERSION_WITH_BN}
%:
	dh $@

override_dh_auto_build:
	mkdir -p /tmp/debian-hive/.ivy
	bash debian/do-component-build
	touch $@

override_dh_auto_install:
	cp debian/hive-site.xml .
	env CRH_DIR=${crh_dir} bash debian/install_hive2.sh \
	  --prefix=debian/tmp \
	  --build-dir=build/dist \
	  --doc-dir=debian/tmp/usr/share/doc/${hive_pkg_name}
	
	# Workaround for BIGTOP-583
	rm -f debian/tmp/${crh_dir}/hive2/lib/slf4j-log4j12-*.jar
	

	# Rename file to add CRH version as name, first define file list
deb_file=jdbc
override_dh_install:
	# Rename file to add CRH version as name, second traverse deb_file list and rename everyone
	# dirs
	[ ! -f debian/hive2.dirs ] || mv debian/hive2.dirs debian/hive2${CRH_VERSION_AS_NAME}.dirs
	# install
	[ ! -f debian/hive2.install ] || mv debian/hive2.install debian/hive2${CRH_VERSION_AS_NAME}.install
	# lintian-overrides
	[ ! -f debian/hive2.lintian-overrides ] || mv debian/hive2.lintian-overrides debian/hive2${CRH_VERSION_AS_NAME}.lintian-overrides
	# manpages
	[ ! -f debian/hive2.manpages ] || mv debian/hive2.manpages debian/hive2${CRH_VERSION_AS_NAME}.manpages
	# postinst
	[ ! -f debian/hive2.postinst ] || mv debian/hive2.postinst debian/hive2${CRH_VERSION_AS_NAME}.postinst
	# preinst
	[ ! -f debian/hive2.preinst ] || mv debian/hive2.preinst debian/hive2${CRH_VERSION_AS_NAME}.preinst
	# prerm
	[ ! -f debian/hive2.prerm ] || mv debian/hive2.prerm debian/hive2${CRH_VERSION_AS_NAME}.prerm
	# other files like above
	for file in $(deb_file); \
	do \
		[ ! -f debian/hive2-$$file.dirs ] || mv debian/hive2-$$file.dirs debian/hive2${CRH_VERSION_AS_NAME}-$$file.dirs; \
		[ ! -f debian/hive2-$$file.install ] || mv debian/hive2-$$file.install debian/hive2${CRH_VERSION_AS_NAME}-$$file.install; \
		[ ! -f debian/hive2-$$file.lintian-overrides ] || mv debian/hive2-$$file.lintian-overrides debian/hive2${CRH_VERSION_AS_NAME}-$$file.lintian-overrides; \
		[ ! -f debian/hive2-$$file.manpages ] || mv debian/hive2-$$file.manpages debian/hive2${CRH_VERSION_AS_NAME}-$$file.manpages; \
		[ ! -f debian/hive2-$$file.postinst ] || mv debian/hive2-$$file.postinst debian/hive2${CRH_VERSION_AS_NAME}-$$file.postinst; \
		[ ! -f debian/hive2-$$file.preinst ] || mv debian/hive2-$$file.preinst debian/hive2${CRH_VERSION_AS_NAME}-$$file.preinst; \
		[ ! -f debian/hive2-$$file.prerm ] || mv debian/hive2-$$file.prerm debian/hive2${CRH_VERSION_AS_NAME}-$$file.prerm; \
	done
	
	dh_install
		